* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 40px;
  color: var(--color-white);
}
body {

  /*fondo*/
  background-color: var(--color-fondo);
  background-image: url("../public/fondo_cielo/fondo_ciel3.jpg"); /* Agrega la ruta de la imagen */
  background-position: center center; /* Centra la imagen */
  background-attachment: fixed; /* Hace que la imagen no se mueva cuando haces scroll */
  background-size: 80%; /* Aumenta el tamaño de la imagen al 150% de su tamaño original */
  color: white;

  background-size: cover; /* Evita que la imagen se repita */

  /*fondo*/
}
.App {
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 100vh;
  width: 100vw;
}
